/* CSS để tạo kiểu cho header và nav */
header {
    display: flex; /* Sử dụng flexbox để căn giữa */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: space-between; /* Phân chia khoảng cách giữa các phần tử */
    padding: 10px; /* Padding cho header */
    background-color: #f8f8f8; /* Màu nền cho header */
}
.header{
    border-radius: 10px;
    background-color: rgb(254, 176, 41);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Thêm bóng đổ cho header */
}
nav {
    display: flex; /* Sử dụng flexbox cho nav */
}

nav ul {
    list-style-type: none; /* Bỏ dấu chấm trong danh sách */
    padding: 0; /* Bỏ padding mặc định */
    margin: 0; /* Bỏ margin mặc định */
    display: flex; /* Hiển thị danh sách theo hàng ngang */
}

nav ul li {
    margin-right: 20px; /* Khoảng cách giữa các liên kết */
}

nav ul li a {
    text-decoration: none; /* Bỏ gạch chân */
    color: #333; /* Màu chữ */
    font-size: 20px;
}
nav ul li a:hover {
    color: #f4f4f4;
    border-bottom: 2px solid #f4f4f4;
}

nav ul li img {
    width: 20px; /* Kích thước của ảnh */
    height: 20px; /* Kích thước của ảnh */
    vertical-align: middle; /* Căn giữa ảnh với chữ */
    margin-right: 5px; /* Khoảng cách giữa ảnh và chữ */
}

/* Thêm kiểu cho logo */
.logo {
    width: 50px; /* Kích thước của logo */
    height: auto; /* Giữ tỷ lệ cho logo */
    margin-right: 15px; /* Khoảng cách giữa logo và tiêu đề */
    border-radius: 50%;
}
